body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration-color: #2a9fd6;
}

.blue {
  color: #2a9fd6;
}

.white {
  color: #f2f2f2 !important;
}

.sm-txt {
  font-size: 12px;
}

.tableHead {
  border: none;
}

.orbit-spinner {
  height: 72px !important;
  width: 72px !important;
  margin: auto;
  margin-top: 250px;
}

.leaderboard {
  margin-top: 24px;
  margin-bottom: 24px;
}

.draftKingsLogo {
  width: 68px;
}

.navbar {
  border: none;
  background: #62c462 !important;
}

.navbar .nav-link {
  border: none;
  color: #fff !important;
  font-size: 20px;
  margin: auto 4px;
}

.navbar .nav-link:focus, .navbar .nav-link:hover {
  background: none;
  border: none;
}

.navbar-brand {
  border: none;
}

.countryFlag {
  padding-right: 4px;
}
.pagination {
  padding: 8px 0;
}
.pagination button {
 margin: 0;
}

.pageCounter {
  margin: 0 22px
}


.newsWidget {
  margin: 24px 0;
}

/* .imgOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 5
} */



.imgOverlay {
  padding: 100px 24px;
  margin-top: -40px;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.carousel-caption{ 
  right: 0;
  left: 0;
  top: 0;
  padding: 0;

}

@media only screen and (max-width : 768px) {
  .nav-link {
    text-align: center;
  }
}
