body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sm-txt {
  font-size: 12px;
}

.orbit-spinner {
  height: 72px !important;
  width: 72px !important;
  margin: auto;
  margin-top: 250px;
}

.draftKingsLogo {
  width: 68px;
}

.navbar {
  border: none;
  background: #62c462;
}

.navbar .nav-link {
  border: none;
  color: #fff !important;
  font-size: 20px;
  margin: auto 4px;
}

.navbar .nav-link:focus, .navbar .nav-link:hover {
  background: none;
  border: none;
}

.navbar-brand {
  border: none;
}

.countryFlag {
  padding-right: 4px;
}

.pagination button {
 margin: 0 8px
}