:root{
  --green: #62c462;
  --white: #f2f2f2;
  --lightBlue: #2a9fd6;
  --orange: #F29006;
  --orange2: #ff6e40;
  --grey: #272B30;
  --lightGrey: #515960;
  --black: #000;
  --black-base: rgb(40,40,40);
  --container-border-base: 1px solid rgb(65, 65, 65);
  --font-color-base: rgba(240, 240, 240, .65)
}

body {
  background-color: var(--black-base) ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration-color: var(--lightBlue);
}

.blue {
  color: var(--lightBlue) !important;
}

.green {
  color: var(--green) !important;
}

.white {
  color: var(--white) !important;
}

.orange {
  color: var(--orange) !important;
}

.bg-light-grey {
  background: var(--lightGrey) !important;
}

.bg-green {
  background: var(--green) !important;
}

.bg-black-base {
  background: var(--black-base) !important;
}

.inline {
  display: inline-block;
}

.alignToRight {
  text-align: right;
}

.playerProfileCard{
  border: none !important;
  margin-bottom: 24px;
}

.borderBottom {
  width: 90%;
  margin: 24px auto;
}

.submitButton {
  width: 100%;
}

.sm-txt {
  font-size: 12px;
}

.smallHeader {
  font-size: 13px;
}

.orbit-spinner {
  height: 72px !important;
  width: 72px !important;
  margin: auto;
  margin-top: 80px;
}

.leaderboard {
  margin-top: 24px;
  margin-bottom: 24px;
}

.draftKingsLogo {
  width: 68px;
}

.profilePlayerImage {
  height: 100%;
}

.profileNameData {
  margin-left: 24px;
}

.playerRadarChart {
  height: 340px !important;
  width: 340px !important;
  margin: 0 auto;
}

.navbar {
  border: none;
  background: var(--green) !important;
}

.navbar .nav-link {
  border: none;
  color: var(--white) !important;
  font-size: 20px;
  margin: auto 4px;
}

.navbar .nav-link:focus, .navbar .nav-link:hover {
  background: none;
  border: none;
}

.navbar-brand,
.tableHead,
.navbar-brand  {
  border: none;
}

.countryFlag {
  padding-right: 4px;
}
.pagination {
  padding: 8px 0;
}
.pagination button {
 margin: 0;
}

.pageCounter {
  margin: 0 22px
}

.newsWidget {
  margin: 24px 0;
}

.imgOverlay {
  padding: 100px 24px;
  margin-top: -40px;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.carousel-caption{ 
  right: 0;
  left: 0;
  top: 0;
  padding: 0;
}

#leaderboardTable {
  margin-top: 24px;
}

#footer {
  background: var(--green) !important;
  color: var(--white) !important;
}

#contactForm {
  width: 100%;
  margin-top: 24px;
  padding: 12px;
  background: var(--lightGrey);
}

#contactForm form {
  margin-top: 0;
}

.searchInputs {
  display: flex;
}

.search input {
  height: 32px;
  width: 100%;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--font-color-base);
  padding-left: 5px;
  box-shadow: none !important;
  border: var(--container-border-base);
  border-radius: 1px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--black-base);
  font-weight: normal !important;
}

.searchIcon {
  background: #424242;
  padding: 2px 8px;
}

input:focus {
  outline: none;
}

.dataResult {
  margin-top: 5px;
  width: 100%;
  height: 200px;
  background-color: var(--black-base);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar,
.liveScoring::-webkit-scrollbar {
  display: none !important;
}

.dataResult .dataItem {
  margin: 10px 0;
  width: 215px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: var(--black-base);
  color: var(--font-color-base);
}

.dataItem p {
  margin-left: 10px;
  margin-bottom: 0 !important;
}
a {
  text-decoration: none;
}

a:hover {
  color: var(--green) !important;
}

#clearBtn {
  cursor: pointer;
}



.liveScoring {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; 
}

.holeNumber {
  padding-top: 44px !important;
  background: var(--green);
}

.holeNumber p {
  font-weight: 600;
  font-size: 14px !important;
}

.holeStats {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.holeNumber, .holeStats {
  padding: 15px 12px;
  vertical-align: top; 
  height: 100%;
}

.liveScoring p {
  font-size: 12px;
  margin-bottom: 4px ;
  color: var(--white);
}

.liveScoringTitle {
  font-size: 14px;
  margin: 2px 0;
  color: var(--white);
}

.liveScoringOuter {
  background-color: var(--black-base);
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.updateTitle {
  font-size: 12px;
  margin: 2px 0;
  color: var(--white);
}

.badge {
  margin-left: 8px;
  margin-right: 8px;
}

.map-container {
  height: 240px;
}

#notfound {
  position: relative;
  height: 100vh;
  background: var(--grey);
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}


.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 24px;
    }

    .nav-link {
      text-align: center !important;
    }

    .tournamentCard p,
    .tournamentCard .h5 {
      text-align: left;
    }

    .tournamentCard .h5 {
      margin-bottom: 12px;
    }

    .profileNameData {
      margin-left: 4px;
    }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
      font-size: 182px;
  }
}
